body{
  background-color: beige;
  font-family: 'Cinzel', serif;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  margin: 25px 0px 45px 0px;
  text-align: center;
}

.topHalf {
  display: flex;
  flex-wrap: wrap;
}

.bottomHalf {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.founders {
  width: 60%;
}

.fourPillars {
  text-align: center;
}

.fourPillarsPic {
  height: auto;
  width: 450px;
}

ul {
  font-style: italic;
  float: left;
  list-style-type: none;
  margin: 15px 8px 50px 0px;
}

.sortingHat {
  margin: 100px 30px;
  width: 35%;
}

.error {
  color: red;
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
}

.housesAndStudents {
  margin: 0px 65px;
}

p {
  font-size: x-large;
  margin-top: 25px;
}

.deathEaterPic {
  display: block;
  margin: auto;
  height: 300px;
  width: 50%;
}

.float-right {
  float: right;
}

.expel {
  margin: 3% 3% 0% 0%
}
