body{
  font-family: 'Cinzel', serif;
}

h1 {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}

.topHalf {
  display: flex;
  flex-wrap: wrap;
}

.bottomHalf {
  display: flex;
  flex-wrap: wrap;
}

/* .founders {
  float: left;
  margin: 5px 125px;
} */

.fourPillars {
  text-align: center;
}

ul {
  font-style: italic;
  float: right;
  list-style-type: none;
  margin-bottom: 50px;
}

/* .sortingHat {
  float: left;
  margin: 0px 25px;
  width: 50%;
} */

.error {
  margin-top: 10px;
}

/* .housesAndStudents {
  float: left;
} */

/* .houseBtns {
  float: left;
  margin: auto;
}

.studentCards {
 float: left;
} */

/* .expelledCards {
  float: right;
} */

.deathEaterPic {
  height: 250px;
}

.float-right {
  float: right;
}

.expel {
  margin: 3% 3% 0% 0%
}
