.hogwarts {
  font-family: 'Cinzel', serif;
  text-align: center;
}

.deathEater {
  height: 250px;
}

.float-right {
  float: right;
}

ul {
  list-style-type: none;
  margin-bottom: 50px;
  width: 30%;
}
